<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="navbar-header">
            <p class="navbar-text pull-left margin-left-15">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left bg-primary"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <strong class="bg-primary">Websites</strong>
            </a>
            <p class="navbar-text pull-right margin-right-15">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus bg-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" ng-repeat="website in model.websites">
        <p class="text-blue pull-left margin-left-15">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="href">{{website.name}}</a>
        </p>
        <p class="pull-right">
            <a href="#/user/{{model.userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog text-blue margin-right-15"></span>
            </a>
        </p>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user bg-primary"></span>
            </a>
        </p>
    </div>
</nav>