input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-header {
    float: none;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.text-blue {
    color: #337ab7;
}

.widget-toolbar {
    position: absolute;
    right: 15px;
}