<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left margin-left-15">
                <a href="../website/website-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                <strong>Pages</strong>
            </a>
            <p class="navbar-text pull-right margin-right-15">
                <a href="page-new.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <p class="text-blue pull-left margin-left-15">
            <a href="../widget/widget-list.html" class="href">Blog Post</a>
        </p>
        <p class="pull-right">
            <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog text-blue margin-right-15"></span>
            </a>
        </p>
    </div>
    <div class="row">
        <p class="text-blue pull-left margin-left-15">
            <a href="../widget/widget-list.html" class="href">Blogs</a>
        </p>
        <p class="pull-right">
            <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog text-blue margin-right-15"></span>
            </a>
        </p>
    </div>
    <div class="row">
        <p class="text-blue pull-left margin-left-15">
            <a href="../widget/widget-list.html" class="href">Home</a>
        </p>
        <p class="pull-right">
            <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog text-blue margin-right-15"></span>
            </a>
        </p>
    </div>
    <div class="row">
        <p class="text-blue pull-left margin-left-15">
            <a href="../page/page-list.html" class="href">About</a>
        </p>
        <p class="pull-right">
            <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog text-blue margin-right-15"></span>
            </a>
        </p>
    </div>
    <div class="row">
        <p class="text-blue pull-left margin-left-15">
            <a href="../widget/widget-list.html" class="href">Contact Us</a>
        </p>
        <p class="pull-right">
            <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog text-blue margin-right-15"></span>
            </a>
        </p>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>