<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left margin-left-15">
                <a href="../page/page-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                <strong>Widgets</strong>
            </a>
            <p class="navbar-text pull-right margin-right-15">
                <a href="widget-choose.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <div class="widget-toolbar">
            <a href="widget-heading.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>Tadashi Tokieda</h1>
    </div>
    <div>
        <div class="widget-toolbar">
            <a href="widget-image.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%" src="https://www.dpmms.cam.ac.uk/~tokieda/superball_by_tokieda.jpg" alt="">
    </div>
    <div>
        <div class="widget-toolbar">
            <a href="widget-heading.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>T^2 grew up as a painter in Japan, became a classical philologist in France,
            learnt basic mathematics from Russian collections of problems (сборники задач), then <br>
            was taught topology by W. Browder <br>
            physics of fluids by  今井功 <br>
            dynamical systems by A. Chenciner, inter alia. <br>
            He has lived in 6 countries so far.</p>
    </div>
    <div>
        <div class="widget-toolbar">
            <a href="widget-youtube.html"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/djmec-Bweeg?list=PLt5AfwLFPxWI9eDSJREzp1wvOJsjt23H_" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#" class="navbar-link">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <a href="#" class="navbar-link">
                <span class="glyphicon glyphicon-eye-open margin-left-15"></span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user text-blue"></span>
            </a>
        </p>
    </div>
</nav>