<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left margin-left-15">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                <strong>Widgets</strong>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-unstyled">
        <li><p><a href="widget-heading.html">Header</a></li></p>
        <li><p><a href="#">Label</a></li></p>
        <li><p><a href="#">HTML</a></li></p>
        <li><p><a href="#">Text Input</a></li></p>
        <li><p><a href="#">Link</a></li></p>
        <li><p><a href="#">Button</a></li></p>
        <li><p><a href="widget-image.html">Image</a></li></p>
        <li><p><a href="widget-youtube.html">Youtube</a></li></p>
        <li><p><a href="#">Data Table</a></li></p>
        <li><p><a href="#">Repeater</a></li></p>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user text-blue"></span>
            </a>
        </p>
    </div>
</nav>