<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left margin-left-15">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <strong>Widgets</strong>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-unstyled">
        <li><p><a >Header</a></li></p>
        <li><p><a >HTML</a></li></p>
        <li><p><a >Image</a></li></p>
        <li><p><a >Youtube</a></li></p>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user text-blue"></span>
            </a>
        </p>
    </div>
</nav>