<form>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text" class="form-control" id="text" type="text">
    </div>
    <div class="form-group">
        <label for="rows">Rows</label>
        <input ng-model="model.widget.rows" class="form-control" id="rows" type="number">
    </div>
    <div class="form-group">
        <label for="placeholder">Placeholder</label>
        <input ng-model="model.widget.placeholder" class="form-control" id="placeholder" type="text">
    </div>
    <div class="form-group">
        <label for="formatted">Formatted</label>
        <input ng-model="model.widget.formatted" class="form-control" id="formatted" type="checkbox">
    </div>
</form>